[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django-celery = "*"
redis = "*"
celery = {extras = ["msgpack"]}
flower = "*"
requests = "*"
lxml = "*"
sqlalchemy = "*"
configparser = "*"
mysqlclient = "*"
msgpack-python = "*"